body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

#array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
}

.array-bar {
  width: 20px;
  margin: 0 2px;
  background-color: #3498db;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  color: #fff;
}

select {
  padding: 10px;
  font-size: 16px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
